@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Rubik-Regular.woff2") format("woff2"),
    url("/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Rubik-Medium.woff2") format("woff2"),
    url("/fonts/Rubik-Medium.woff") format("woff");
}
