.container {
  overflow: auto;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.simplePopup {
  &.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }

  &.ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.notification {
  &.ReactModal__Overlay {
    transition: transform 300ms;
    transform: translateX(100%);
  }

  &.ReactModal__Overlay--after-open {
    transform: none;
  }

  &.ReactModal__Overlay--before-close {
    transform: translateX(100%);
  }
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  .labelText {
    font-size: 16px;
  }

  .validationMessage {
    color: $rouge;
    font-size: 14px;
  }

  .input {
    margin-top: 5px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 36px;
    width: 200px;
    border: 1px solid $pastelGrey;
    border-radius: 4px;
    background-color: $white;
    font-size: 16px;

    &:disabled {
      background-color: $snow;
    }
    &:focus {
      outline: none;
    }
  }

  &.invalid {
    .input {
      border: 1px solid $rouge;
    }
  }
}
