.container {
  overflow: auto;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.input {
  color: #000000;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #72777d;
  border-radius: 2px;
  padding: 6px 8px;
  line-height: 1.28571429em;
  font-size: 14px;
}

.simplePopup {
  &.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }

  &.ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.notification {
  &.ReactModal__Overlay {
    transition: transform 300ms;
    transform: translateX(100%);
  }

  &.ReactModal__Overlay--after-open {
    transform: none;
  }

  &.ReactModal__Overlay--before-close {
    transform: translateX(100%);
  }
}
