.container {
  overflow: auto;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.input {
  color: #000000;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #72777d;
  border-radius: 2px;
  padding: 6px 8px;
  line-height: 1.28571429em;
  font-size: 14px;
}
