$main_font: sans-serif;

$black: #000000;
$white: #ffffff;
$snow: #f9f9f9;
$isabelline: #eeeeee;
$pastelGrey: #cccccc;
$spanishGrey: #999999;
$snowBank: #e9e9e9;
$jet: #363636;
$whiteSmoke: #f8f8f8;
$rouge: #ff2a2b;
$oceanBlue: #0099cc;
$darkerOceanBlue: #006080;
